# проверить гипотезу о нормальности распределения логарифмических доходностей

In [1]:
import numpy as np
import pandas as pd
import yfinance as yfin
import requests 
import apimoex

from helper import get_data_markets

In [2]:
APPLE = 'AAPL'
SBER = 'SBER'

interval1 = '1w'
interval2 = '1m'

start_date = '2018-10-18'
end_date = '2023-10-18'

In [3]:
SBER = 'SBER'
APPLE = 'AAPL'

start_date = '2018-10-18'
end_date = '2023-10-18'

In [4]:
df_sber = get_data_markets(7, SBER, start_date, end_date)
df_sber.head()

                 begin    open   close    high     low         value
0  2018-10-22 00:00:00  184.86  181.00  189.25  177.02  8.261883e+10
1  2018-10-29 00:00:00  180.60  192.60  192.98  178.64  6.299539e+10
2  2018-11-05 00:00:00  194.50  195.75  204.70  193.73  7.087732e+10
3  2018-11-12 00:00:00  197.97  199.26  203.50  193.18  7.414753e+10
4  2018-11-19 00:00:00  198.98  197.30  200.70  191.81  5.434282e+10

In [5]:
df_apple = get_data_markets('1wk', APPLE, start_date, end_date, 'yahoo')
df_apple.columns = df_apple.columns.str.lower()
df_apple.head()

                       date       open  ...  dividends  stock splits
0 2018-10-15 00:00:00-04:00  52.162966  ...     0.0000           0.0
1 2018-10-22 00:00:00-04:00  52.625064  ...     0.0000           0.0
2 2018-10-29 00:00:00-04:00  52.481414  ...     0.0000           0.0
3 2018-11-05 00:00:00-05:00  48.916259  ...     0.1825           0.0
4 2018-11-12 00:00:00-05:00  47.813500  ...     0.0000           0.0

[5 rows x 8 columns]

In [6]:
def log_income(df: pd.DataFrame):
    """
        marh:: `r_i(t) = ln(\frac{close_i(t)}{close_i(t-1)})`
    """

    income_vec = np.zeros(len(df))

    # income_vec += np.log(df['close'] / df['close'])
    for i in range(1, len(df)):
        income_vec[i] += np.log(df.loc[i, 'close'] / df.loc[i-1, 'close'])

    return income_vec

In [7]:
sber_income_vec = log_income(df_sber)
apple_income_vec = log_income(df_apple)
sber_income_vec.shape

(258,)

In [8]:
from scipy.stats import shapiro

In [9]:
significantce = 0.95

In [10]:
_, pvalue = shapiro(sber_income_vec)
pvalue

1.7143251552192225e-21

In [11]:
_, pvalue = shapiro(apple_income_vec)
pvalue

4.92998406116385e-05

In [12]:
df_sber = get_data_markets(31, SBER, start_date, end_date)
df_apple = get_data_markets('1mo', APPLE, start_date, end_date, 'yahoo')
df_apple.columns = df_apple.columns.str.lower()

In [13]:
sber_income_vec = log_income(df_sber)
apple_income_vec = log_income(df_apple)
sber_income_vec.shape

(60,)

In [14]:
_, pvalue = shapiro(sber_income_vec)
pvalue

4.429305811015638e-09

In [15]:
_, pvalue = shapiro(apple_income_vec)
pvalue

0.046068914234638214