In [2]:
import apimoex
import numpy as np
import pandas as pd
import requests 
import matplotlib.pyplot as plt

**Задание:**
1. Построить линейный график цен акций ПАО "Сбербанк" (SBER) за последний год, период - 1 день.
2. Построить простую (SMA) и экспоненциальную (EMA) скользящую среднюю с окном сглаживания n = 21 день по ценам закрытия (Close). Установить зеленый цвет для SMA, красный для EMA. В качестве ответа привести таблицу с указанием даты пересечения индикаторов на графике.

In [3]:
def get_data(ticker: str, start_date: str, end_date: str, interval=24) -> pd.DataFrame:
    """
    Функция возвращает данные о котивках за указанный период в формате  `pd.DataFrame`

    Аргументы:
        ticker, str - Тикер ценной бумаги, название комании другими словами
        start_date, str - Дата начала отсчета данных в формате: "ГГГГ-ММ-ДД"
        end_date, str - Дата конца отсчета данных в формате: "ГГГГ-ММ-ДД"
        interval, int - размер свечи, по умолчанию равен дневному размеру.
            Принимает следующие целые значения:
            1 (1 минута), 10 (10 минут), 60 (1 час), 24 (1 день),
            7 (1 неделя), 31 (1 месяц), 4 (1 квартал)

        Возвращаемое значение:
        data_frame, pd.DataFrame - дата фрейм, содержищий информацию о котировках:
            начало (begin, date), цена открытия (open, float), 
            цена закрытия (close, float), наивысшая цена (high, float),
            низшая цена (low, float), объем (value, float)
    """
    with requests.Session() as session: # open an internet session
        # get candles
        data = apimoex.get_market_candles(session, security=ticker, start=start_date, end=end_date)
    
    # returns     
    df = pd.DataFrame(data)

    return df

In [4]:
TICKER = 'SBER'
start_date = '2023-08-24'
end_date = '2023-09-24'

In [5]:
df = get_data(TICKER, start_date, end_date)
df.head()

                 begin    open   close    high     low         value
0  2023-08-24 00:00:00  257.63  259.63  259.94  256.40  6.959479e+09
1  2023-08-25 00:00:00  258.80  260.50  261.60  257.61  7.426718e+09
2  2023-08-28 00:00:00  261.32  266.93  267.83  260.81  1.533407e+10
3  2023-08-29 00:00:00  266.70  265.68  267.56  265.14  9.425505e+09
4  2023-08-30 00:00:00  265.68  264.70  267.36  263.10  1.023703e+10

In [6]:
def prepare_data(df: pd.DataFrame) -> pd.DataFrame:
    _df = df.copy()
    _df['Date'] = pd.to_datetime(_df['begin'])
    _df = _df.drop('begin', axis=1)
    _df = _df.reset_index(drop=True)
    return _df

In [7]:
df = prepare_data(df)
df.head()

     open   close    high     low         value       Date
0  257.63  259.63  259.94  256.40  6.959479e+09 2023-08-24
1  258.80  260.50  261.60  257.61  7.426718e+09 2023-08-25
2  261.32  266.93  267.83  260.81  1.533407e+10 2023-08-28
3  266.70  265.68  267.56  265.14  9.425505e+09 2023-08-29
4  265.68  264.70  267.36  263.10  1.023703e+10 2023-08-30

In [8]:
dates = df['Date']
open_cost = df['open']