# проверить гипотезу о нормальности распределения логарифмических доходностей

In [1]:
import numpy as np
import pandas as pd
import yfinance as yfin
import requests 
import apimoex

from helper import get_data_markets

In [38]:
APPLE = 'AAPL'
SBER = 'SBER'

interval1 = '1w'
interval2 = '1m'

start_date = '2018-10-18'
end_date = '2023-10-18'

In [39]:
SBER = 'SBER'
APPLE = 'AAPL'

start_date = '2018-10-18'
end_date = '2023-10-18'

In [40]:
df_sber = get_data_markets(7, SBER, start_date, end_date)
df_sber.head()

                 begin    open   close    high     low         value
0  2018-10-22 00:00:00  184.86  181.00  189.25  177.02  8.261883e+10
1  2018-10-29 00:00:00  180.60  192.60  192.98  178.64  6.299539e+10
2  2018-11-05 00:00:00  194.50  195.75  204.70  193.73  7.087732e+10
3  2018-11-12 00:00:00  197.97  199.26  203.50  193.18  7.414753e+10
4  2018-11-19 00:00:00  198.98  197.30  200.70  191.81  5.434282e+10

In [41]:
df_apple = get_data_markets('1wk', APPLE, start_date, end_date, 'yahoo')
df_apple.columns = df_apple.columns.str.lower()
df_apple.head()

                       date       open  ...  dividends  stock splits
0 2018-10-15 00:00:00-04:00  52.162969  ...     0.0000           0.0
1 2018-10-22 00:00:00-04:00  52.625084  ...     0.0000           0.0
2 2018-10-29 00:00:00-04:00  52.481418  ...     0.0000           0.0
3 2018-11-05 00:00:00-05:00  48.916248  ...     0.1825           0.0
4 2018-11-12 00:00:00-05:00  47.813500  ...     0.0000           0.0

[5 rows x 8 columns]

In [42]:
def log_income(df: pd.DataFrame):
    """
        marh:: `r_i(t) = ln(\frac{close_i(t)}{close_i(t-1)})`
    """

    # income_vec = np.zeros(len(df))

    # for i in range(1, len(df)):
    #     income_vec[i] += np.log(df.loc[i, 'close'] / df.loc[i-1, 'close'])

    close = df['close'].values

    income_vec = np.concatenate((np.array([0]), np.log(close[1:] / close[:-1])))

    return income_vec

In [43]:
sber_income_vec = log_income(df_sber)
apple_income_vec = log_income(df_apple)
sber_income_vec.shape, len(df_sber)

((258,), 258)

In [44]:
from scipy.stats import shapiro

In [52]:
significance = 0.95

In [46]:
_, pvalue = shapiro(sber_income_vec)
if pvalue < significance:
    print('Не нормальное распределение')
else:
    print('Нормальное распределение')

Не нормальное распределение

In [47]:
_, pvalue = shapiro(apple_income_vec)
if pvalue < significance:
    print('Не нормальное распределение')
else:
    print('Нормальное распределение')

Не нормальное распределение

In [48]:
df_sber = get_data_markets(31, SBER, start_date, end_date)
df_apple = get_data_markets('1mo', APPLE, start_date, end_date, 'yahoo')
df_apple.columns = df_apple.columns.str.lower()

In [49]:
sber_income_vec = log_income(df_sber)
apple_income_vec = log_income(df_apple)
sber_income_vec.shape

(60,)

In [50]:
_, pvalue = shapiro(sber_income_vec)
if pvalue < significance:
    print('Не нормальное распределение')
else:
    print('Нормальное распределение')

Не нормальное распределение

In [51]:
_, pvalue = shapiro(apple_income_vec)
if pvalue < significance:
    print('Не нормальное распределение')
else:
    print('Нормальное распределение')

Не нормальное распределение

###