In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from helper import get_data, prepare_data

In [2]:
TICKER = 'SBER'
start_date = '2022-08-24'
end_date = '2023-09-24'

In [3]:
df = get_data(TICKER, start_date, end_date)
df = prepare_data(df)
df.head()

     open   close    high     low         value       Date
0  130.60  128.15  131.64  127.85  5.940974e+09 2022-08-24
1  128.15  128.18  129.81  127.10  4.630468e+09 2022-08-25
2  128.02  130.40  130.50  127.62  4.251007e+09 2022-08-26
3  130.12  131.17  131.40  129.52  5.342794e+09 2022-08-29
4  131.17  130.05  132.60  129.65  6.706724e+09 2022-08-30

In [4]:
dates = df['Date']
open_cost = df['open']
close_cost = df['close']

In [5]:
# TODO calculate max drawdown