In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import os

In [3]:
dataset_dir = './dataset_2010_2014'
os.listdir(dataset_dir)

['Open.csv', 'High.csv', 'Close.csv', 'Low.csv', 'Volume.csv']

In [4]:
open_df = pd.read_csv(dataset_dir + '/Open.csv')
high_df = pd.read_csv(dataset_dir + '/High.csv')
close_df = pd.read_csv(dataset_dir + '/Close.csv')
low_df = pd.read_csv(dataset_dir + '/Low.csv')
volume_df = pd.read_csv(dataset_dir + '/Volume.csv')

In [5]:
open_df.head()

,Unnamed: 0,2010-01-04,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,...,2014-12-17,2014-12-18,2014-12-19,2014-12-22,2014-12-23,2014-12-24,2014-12-26,2014-12-29,2014-12-30,2014-12-31
0,iba.us,20.9550,20.2590,20.8660,20.6740,20.7960,20.8490,20.2950,20.6640,20.7340,...,47.455,48.479,49.437,49.133,48.308,47.625,48.014,48.101,47.996,47.455
1,wpz.us,22.0330,22.3830,22.6670,22.6600,22.1040,22.3550,21.9840,22.0560,21.9030,...,37.892,39.579,39.442,39.049,41.309,42.097,41.828,41.145,40.834,40.619
2,flic.us,9.2675,9.2675,9.1616,9.0283,9.0356,9.0571,9.2792,9.3094,9.2258,...,15.899,16.752,16.993,16.950,16.685,17.024,17.055,17.636,17.926,17.696
3,ncs.us,9.2500,10.3000,10.4500,10.1000,10.4000,11.6000,11.1000,10.7500,10.6500,...,17.380,18.190,17.820,17.450,17.770,17.680,17.860,17.970,18.600,18.670
4,gpk.us,3.4102,3.4959,3.4388,3.3435,3.5341,3.4197,3.3624,3.3530,3.2958,...,12.394,12.792,12.868,12.848,13.038,13.097,13.261,13.373,13.232,13.232

In [6]:
print(open_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2436 entries, 0 to 2435
Columns: 1258 entries, Unnamed: 0 to 2014-12-31
dtypes: float64(1257), object(1)
memory usage: 23.4+ MB
None

In [7]:
high_df.head()

,Unnamed: 0,2010-01-04,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,...,2014-12-17,2014-12-18,2014-12-19,2014-12-22,2014-12-23,2014-12-24,2014-12-26,2014-12-29,2014-12-30,2014-12-31
0,iba.us,20.9550,20.2590,20.8660,20.6740,20.7960,20.8490,20.2950,20.6640,20.7340,...,47.455,48.479,49.437,49.133,48.308,47.625,48.014,48.101,47.996,47.455
1,wpz.us,22.0330,22.3830,22.6670,22.6600,22.1040,22.3550,21.9840,22.0560,21.9030,...,37.892,39.579,39.442,39.049,41.309,42.097,41.828,41.145,40.834,40.619
2,flic.us,9.2675,9.2675,9.1616,9.0283,9.0356,9.0571,9.2792,9.3094,9.2258,...,15.899,16.752,16.993,16.950,16.685,17.024,17.055,17.636,17.926,17.696
3,ncs.us,9.2500,10.3000,10.4500,10.1000,10.4000,11.6000,11.1000,10.7500,10.6500,...,17.380,18.190,17.820,17.450,17.770,17.680,17.860,17.970,18.600,18.670
4,gpk.us,3.4102,3.4959,3.4388,3.3435,3.5341,3.4197,3.3624,3.3530,3.2958,...,12.394,12.792,12.868,12.848,13.038,13.097,13.261,13.373,13.232,13.232

**Задача 1**

Написать функцию нейтрализации. На вход подается вектор произвольной длины, на выходе нейтрализованный вектор.

In [8]:
def neutralize(alpha: np.array) -> np.array:
    return alpha - (alpha.sum() / len(alpha))

In [9]:
alpha = np.arange(1, 10)
print(alpha)
print(f'Sum = {alpha.sum()}')

[1 2 3 4 5 6 7 8 9]
Sum = 45

In [10]:
alpha = neutralize(alpha)
print(alpha)
print(f'Sum = {alpha.sum()}')

[-4. -3. -2. -1.  0.  1.  2.  3.  4.]
Sum = 0.0

**Задача 2**

Написать функцию нейтрализации. На вход подается вектор произвольной длины, на выходе нормализованный вектор.

In [11]:
def normalize(alpha: np.array) -> np.array:
    return alpha / np.abs(alpha).sum()

In [12]:
alpha = np.arange(1, 10)
print(alpha)
print(f'Module sum = {np.abs(alpha).sum()}')

[1 2 3 4 5 6 7 8 9]
Module sum = 45

In [13]:
alpha = normalize(alpha)
print(alpha)
print(f'Module sum = {np.abs(alpha).sum()}')

[0.02222222 0.04444444 0.06666667 0.08888889 0.11111111 0.13333333
 0.15555556 0.17777778 0.2       ]
Module sum = 1.0

**Задание 3**

Построить альфу с помощью выражения $-close_i(d-1)/close_i(d-6)$, операций нормализации и нейтрализации. Вывести несколько векторов позиций и проверить, что они нейтрализованы и нормализованы.

In [21]:
def reverse_alpha(df: pd.DataFrame, d_min_1: str, d_min_6: str) -> np.array:
    close_d_min_1 = df[d_min_1]
    close_d_min_6 = df[d_min_6]
    return - close_d_min_1 / close_d_min_6

In [22]:
dates = close_df.columns[1:]
dates

Index(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07', '2010-01-08',
       '2010-01-11', '2010-01-12', '2010-01-13', '2010-01-14', '2010-01-15',
       ...
       '2014-12-17', '2014-12-18', '2014-12-19', '2014-12-22', '2014-12-23',
       '2014-12-24', '2014-12-26', '2014-12-29', '2014-12-30', '2014-12-31'],
      dtype='object', length=1257)

In [20]:
days = [10, 115, 467, 1200]

In [ ]:
alpha_1 = reverse_alpha(close_df, dates[days[0]], dates[days[0]-6])

In [ ]:
alpha = [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
def neutralize (alpha):
    total = 0
    
    for i in range(0, len(alpha), 1):
        total = total + alpha[i] # мы посчитали сумму всех элементов массива

    average =