In [1]:
import numpy as np
import pandas as pd
import requests 
import apimoex

from helper import get_data

In [2]:
TICKER_NAME = 'GAZP'
alphas = [0.01, 0.05, 0.95, 0.99]
interval = 24

start_date = '2022-10-18'
end_date = '2023-10-18'

In [3]:
df = get_data(TICKER_NAME, start_date, end_date, interval)
df.head()
df.tail()

                   begin    open   close    high     low         value
250  2023-10-12 00:00:00  167.90  169.50  169.80  167.40  5.381001e+09
251  2023-10-13 00:00:00  169.90  170.20  170.79  167.15  6.540513e+09
252  2023-10-16 00:00:00  170.50  172.55  172.91  170.50  7.158742e+09
253  2023-10-17 00:00:00  172.75  171.97  173.30  171.03  4.603961e+09
254  2023-10-18 00:00:00  172.67  170.18  172.68  168.70  5.460248e+09

In [4]:
def log_income(df: pd.DataFrame):
    """
        marh:: `r_i(t) = ln(\frac{close_i(t)}{close_i(t-1)})`
    """

    income_vec = np.zeros(len(df))

    # income_vec += np.log(df['close'] / df['close'])
    for i in range(1, len(df)):
        income_vec[i] += np.log(df.loc[i, 'close'] / df.loc[i-1, 'close'])

    return income_vec

In [5]:
income_vec = log_income(df)
income_vec.shape

(255,)

VaR - Value at Risk

CVar - Conditional Value at Risk