In [38]:
import numpy as np
import pandas as pd
import yfinance as yfin
import requests 
import apimoex

In [45]:
TICKER_NAME = 'AAPL'

start_date = '2022-10-18'
end_date = '2023-10-18'

In [46]:
def get_data_markets(ticker: str, start_date: str, end_date: str, interval=24) -> pd.DataFrame:
    """
    
    Функция возвращает данные о котивках за указанный период в формате  `pd.DataFrame`

    Аргументы:
        ticker, str - Тикер ценной бумаги, название комании другими словами
        start_date, str - Дата начала отсчета данных в формате: "ГГГГ-ММ-ДД"
        end_date, str - Дата конца отсчета данных в формате: "ГГГГ-ММ-ДД"
        interval, int - размер свечи, по умолчанию равен дневному размеру.
            Принимает следующие целые значения:
            1 (1 минута), 10 (10 минут), 60 (1 час), 24 (1 день),
            7 (1 неделя), 31 (1 месяц), 4 (1 квартал)

        Возвращаемое значение:
        data_frame, pd.DataFrame - дата фрейм, содержищий информацию о котировках:
            начало (begin, date), цена открытия (open, float), 
            цена закрытия (close, float), наивысшая цена (high, float),
            низшая цена (low, float), объем (value, float)
            
    """
    
    with requests.Session() as session:
        data = apimoex.get_market_candles(session, security=ticker, start=start_date, end=end_date)
      
    df = pd.DataFrame(data)

    return df

In [47]:
SBER = 'SBER'
APPLE = 'AAPL'

start_date = '2022-10-18'
end_date = '2023-10-18'

In [48]:
df_sber = get_data(SBER, start_date, end_date)
df_sber.head()

                 begin    open   close    high     low         value
0  2022-10-18 00:00:00  113.05  110.88  114.37  110.48  1.146888e+10
1  2022-10-19 00:00:00  110.12  112.39  112.93  109.30  1.004778e+10
2  2022-10-20 00:00:00  112.75  116.98  117.20  112.37  1.161162e+10
3  2022-10-21 00:00:00  116.93  119.45  119.94  114.37  1.199634e+10
4  2022-10-24 00:00:00  120.15  118.80  121.68  117.65  8.899629e+09

In [49]:
df_apple = pd.read_csv('AAPL.csv')
# df_apple = df_apple.reset_index()
df_apple = df_apple[df_apple.columns[1:]]
df_apple

           Date        Open        High
0    2022-10-18  144.631981  145.834836
1    2022-10-19  140.854396  144.095165
2    2022-10-20  142.176559  145.029629
3    2022-10-21  142.027429  146.978071
4    2022-10-24  146.321953  149.344018
..          ...         ...         ...
247  2023-10-12  180.070007  182.339996
248  2023-10-13  181.419998  181.929993
249  2023-10-16  176.750000  179.080002
250  2023-10-17  176.649994  178.419998
251           0    0.000000    0.000000

[252 rows x 3 columns]