In [3]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
dataset_dir = './USA_2010-2014_HLOCV'
os.listdir(dataset_dir)

['Open.csv', 'High.csv', 'Close.csv', 'Low.csv', 'Volume.csv']

In [23]:
open_df = pd.read_csv(dataset_dir + '/Open.csv').drop(columns=['Unnamed: 0'], axis=0).T
high_df = pd.read_csv(dataset_dir + '/High.csv').drop(columns=['Unnamed: 0'], axis=0).T
close_df = pd.read_csv(dataset_dir + '/Close.csv').drop(columns=['Unnamed: 0'], axis=0).T
low_df = pd.read_csv(dataset_dir + '/Low.csv').drop(columns=['Unnamed: 0'], axis=0).T
volume_df = pd.read_csv(dataset_dir + '/Volume.csv').drop(columns=['Unnamed: 0'], axis=0).T

In [24]:
close_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2426,2427,2428,2429,2430,2431,2432,2433,2434,2435
2010-01-04,20.225,22.355,9.3094,10.20,3.4959,9.955,26.66,11.898,9.4832,16.594,...,2.9896,21.90,19.270,12.832,17.76,7.7942,33.864,18.690,303.66,12.231
2010-01-05,20.858,22.589,9.1551,10.25,3.4577,10.022,26.57,11.954,9.5110,16.765,...,3.0673,20.91,19.466,13.234,17.88,7.8400,34.744,18.780,301.20,12.305
2010-01-06,20.612,22.637,9.0008,10.05,3.3339,10.217,26.92,11.594,9.5150,16.779,...,3.0390,20.80,19.570,13.442,16.68,7.8477,35.070,18.890,302.01,12.395
2010-01-07,20.683,22.269,9.0205,10.40,3.5341,10.115,26.50,11.695,9.7720,16.454,...,3.2582,21.65,19.613,13.120,17.52,7.8707,34.599,19.175,292.72,12.345
2010-01-08,21.085,22.192,8.9584,11.35,3.4197,10.149,26.19,11.485,9.8060,16.779,...,3.2016,21.25,19.570,13.106,17.52,7.8785,34.813,19.474,296.55,12.435

## Задача 1

**Написать функцию нейтрализации. На вход подается вектор произвольной длины, на выходе нейтрализованный вектор.**

In [164]:
def neutralize(df: pd.DataFrame) -> pd.DataFrame:
    return df -  df.sum(axis=1) / df.shape[1]

def test_neutrality(df: pd.DataFrame) -> None:
    try:
        assert abs(df.sum().sum()) <= 1e-12
        print("Is Neutral")
    except Exception:
        print("Is not Neutral")

In [165]:
test_neutrality(close_df)
test_neutrality(neutralize(close_df))

Is not Neutral
Is Neutral

## Задача 2

**Написать функцию нормализации. На вход подается вектор произвольной длины, на выходе нормализованный вектор.**

In [166]:
def normalize(df: pd.DataFrame) -> pd.DataFrame:
    return (df.T / df.abs().sum(axis=1)).T

def test_normality(df: pd.DataFrame) -> None:
    try:
        assert abs(df.abs().sum().sum() /df.shape[0] - 1.0) <= 1e-12
        print("Is Normal")
    except Exception:
        print("Is not Normal")

In [167]:
test_normality(close_df)
test_normality(normalize(close_df))

Is not Normal
Is Normal

## Задание 3

**Построить альфу с помощью выражения $-close_i(d-1)/close_i(d-6)$, операций нормализации и нейтрализации. Вывести несколько векторов позиций и проверить, что они нейтрализованы и нормализованы.**

In [177]:
def make_alpha(close_df: pd.DataFrame, day_step: int) -> pd.DataFrame:
    df = close_df.copy()

    return df.shift(1) / df.shift(6)

In [180]:
alpha  = make_alpha(close_df, 6).fillna(0)
alpha

,0,1,2,3,4,5,6,7,8,9,...,2426,2427,2428,2429,2430,2431,2432,2433,2434,2435
2010-01-04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2010-01-05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2010-01-06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2010-01-07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2010-01-08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-24,1.007014,1.125407,1.083804,1.016686,1.060952,1.315609,1.096911,1.091599,1.046734,1.074207,...,1.027924,1.124709,1.034069,0.978078,0.915094,1.061707,1.124398,0.958066,1.115741,1.030840
2014-12-26,1.005514,1.060225,1.023041,0.994964,1.048401,1.120178,1.074794,1.074107,1.022222,1.055605,...,1.006445,1.118781,1.038605,0.979768,0.970588,1.018365,1.011728,0.950404,0.971429,1.012335
2014-12-29,0.978543,1.045738,1.049660,1.010662,1.036799,1.112927,1.030363,1.032634,1.008695,1.075473,...,0.982586,1.096260,1.020189,0.993443,0.898058,1.014953,0.955547,0.981396,0.991667,1.005407
2014-12-30,0.959562,1.048563,1.058020,1.068156,1.033674,1.011796,0.973641,1.036209,1.011794,1.066236,...,0.998402,1.062666,1.066873,0.988899,0.891089,1.026318,0.934366,1.032833,0.881679,0.994567
2014-12-31,0.986449,0.980017,1.043760,1.052154,1.013074,0.988032,0.964286,1.021960,1.009784,1.018942,...,0.985754,1.022265,1.034125,1.000565,0.910076,1.013594,0.928957,1.028690,0.905172,1.001382